.w{background-color: rgb(84, 9, 84);color: rgb(42, 229, 42);}
p{color:rgb(216, 26, 216) ;}
.q{color: chartreuse;}
.e{background-color: yellow;color: rgb(248, 18, 156);}
.r{background-color: yellow;color: rgb(248, 18, 156);}