*{margin: 0;
padding: 0;
}

nav{
height: 60px;
    display: flex;
justify-content: space-around;
align-items: center;
background-color: rgb(135, 133, 133);
}

.logo{
height: 40px;
width: 70px;
background-size: contain;
background-image: url(https://kun.uz/assets/66844a27/img/icons/logo-light.svg);
background-repeat: no-repeat;
background-position: center;
}

.menu{
display: flex;
gap: 20px;
}

a{
text-decoration: none;
color: black;
font-weight: bold;
}

input{
    width: 100px;
height: 30px;
border-radius: 20px;
border:none ;
text-align: center;
}

input::placeholder{
text-align: center;
color: blue;
}

main{
  margin-inline: 50px;
    width: 80%;
    display: flex;
     gap: 50px;
     
}

.box{
flex-grow: 1;
text-align: center;
}

.left{
display: flex;
flex-wrap: wrap;
}

.card{
    display: flex;
    width: 80%;
    align-items: center;
  
}

img{
    width: 200px;
    height: 150px;
}

h3{
    color: blue;
}

.right{
  display: flex;  
  flex-direction: column;
}
.cards{
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
  
    border-radius: 10px;
    text-align: center;
}