*{
    margin: 0;
    padding: 0;
}

.box{
    width: 600px;
    height: 600px;
    background-color: rgb(239, 114, 114);
    position: absolute;
    margin: 300px ;
}
.box1{
    width: 500px;
    height: 500px;
    background-color: rgb(239, 114, 114);
    position: absolute;
    margin: 350px ;
    border: 5px solid white;
}
h1{
    color: white;
    text-align: center;
    padding-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}